@use '../helpers' as *;

.button {
	display: inline-flex;
	justify-content: center;
	white-space: nowrap;
	border-radius: rem(8);
	background-color: #fbe354;
	padding-inline: rem(27.2);
	color: var(--color-dark);
	font-size: rem(18);
	font-weight: 600;
	box-shadow: 2px 2px 0px;
	line-height: rem(50);

	@include laptop {
		padding: rem(8) rem(40);
		font-size: rem(16);
	}
}
